<div>
  <%= for dc <- @components do %>
    <%= live_component(@socket,
                      Dashboard.Dashboards.Component.to_module(dc.component),
                      user_token: @user_token,
                      id: dc.id,
                      component: dc.component) %>
  <% end %>
</div>
