<main role="main" class="flex flex-col flex-1">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
  <div class="flex flex-col flex-1" style="background-color: #264653" >
    <%= @inner_content %>
  </div>
</main>
