<div class="flex flex-col items-center w-full p-8">
  <div class="alert info max-w-sm">
    this should probably just go straight to dashboards
  </div>

  <h1 class="text-center text-2xl my-4">Welcome</h1>
  <p class="btn btn-primary btn-lg">
    <a href="/dashboards">Go to Dashboards</a>
  </p>
</div>
